{{#each this}}
<li class = 'country-list__item'>
    <img src = {{flags.svg}} alt = '{{name.official}} flag' width="60px" heigth = '30px'>
    <p class = 'item__text'>{{name.official}}</p>
    </li>
    {{/each}}